<nav class="flex justify-between items-center shadow-xl px-40 py-10">
    <ul class="flex items-center gap-10">
        <h2 class="font-nhl font-bold text-5xl cursor-pointer" routerLink="">STRAWBERRY</h2>
        <li class="hover:underline hover:underline-offset-4 cursor-pointer">Shop</li>
        <li class="hover:underline hover:underline-offset-4 cursor-pointer">About</li>
    </ul>
    <ul class="flex items-center gap-5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 transition cursor-pointer pop">
            <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z" clip-rule="evenodd" />
          </svg>
          <button class="px-5 py-2 bg-cyan-800 rounded-md shadow-xl text-white pop" routerLink="/login">Log in</button>
    </ul>
</nav>