<nav class="flex justify-between items-center shadow-xl px-40 py-10">
    <ul class="flex items-center gap-10">
        <h2 class="font-nhl font-bold text-5xl cursor-pointer" routerLink="">STRAWBERRY</h2>
        <li class="hover:underline hover:underline-offset-4 cursor-pointer" routerLink="/products">Shop</li>
        <li class="hover:underline hover:underline-offset-4 cursor-pointer" routerLink="/about">About</li>
    </ul>
    <ul class="flex items-center gap-5">
        <ng-container *ngIf="!isLoggedIn()">
            <p class="hover:underline hover:underline-offset-4 cursor-pointer" routerLink="/login">Login</p>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
            <div #dropdown class="flex flex-col items-end relative">
                <svg (click)="handleDropdown()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="currentColor" class="w-8 h-8 scale cursor-pointer">
                    <path fill-rule="evenodd"
                        d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                        clip-rule="evenodd" />
                </svg>
                <ng-container *ngIf="isDropdown">
                    <div class="absolute flex flex-col py-2 bg-slate-200 rounded-md shadow-xl mt-10 gap-2">
                        <a routerLink="/profile" class="pl-5 pr-14 scale cursor-pointer hover:font-bold">Profile</a>
                        <p class="pl-5 pr-14 scale cursor-pointer hover:font-bold" (click)="logout()">Logout</p>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            class="w-8 h-8 transition cursor-pointer scale">
            <path fill-rule="evenodd"
                d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z"
                clip-rule="evenodd" />
        </svg>
    </ul>
</nav>