<div class="flex flex-col min-h-screen">
    <app-navbar></app-navbar>

    <div class="flex-grow">
        <router-outlet></router-outlet>
    </div>

    <footer class="">
        <div class="bg-green-900 w-full text-center text-white py-10">
            <h2 class="font-bold text-2xl pb-10">SIGN UP FOR OUR NEWSLETTER</h2>
            <p>Get access to the latest drops early, exclusive newsletter member discounts, and lots more.</p>
        </div>
        <div class="flex px-40 py-10 gap-10 justify-between text-gray-500">
            <ul class="flex flex-col gap-5">
                <p class="font-bold text-black">STRAWBERRY</p>
                <p>info@strawberry.ski</p>
            </ul>

            <ul class="flex flex-col gap-5">
                <li>
                    ABOUT
                </li>
                <li>
                    INSTAGRAM
                </li>
                <li>
                    CONTACT US
                </li>
            </ul>

            <ul class="flex flex-col gap-5">
                <li>
                    RETURNS & EXCHANGES
                </li>
                <li>
                    TERMS & CONDITIONS
                </li>
                <li>
                    PRIVACY POLICY 
                </li>
            </ul>
        </div>
        <p class="border-t py-10 w-full text-center">&copy; 2023 Created By Bao Duong</p>
    </footer>
</div>