<div class="flex flex-col items-center">
    <div class="flex">
        <img class="w-1/2"
            src="https://cdn.shopify.com/s/files/1/0276/0261/6399/files/16-03-23-72.jpg?v=1679079783&width=1500"
            alt="" />
        <img class="w-1/2"
            src="https://cdn.shopify.com/s/files/1/0276/0261/6399/files/16-03-23-200.jpg?v=1679079835&width=1500"
            alt="" />
    </div>
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center gap-5">
        <p class="text-white font-bold text-4xl">ELEVATE BASIC</p>
        <button class="px-7 py-3 bg-white scale" routerLink="/products">SHOP NOW</button>
    </div>
</div>